{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/blog.css">
<title>Top 1% Coder</title>
{% endblock %}
{% block body %}
<div class="row">
  <div class="main">
      <div class="card">
        <div class="container">
          <h2>{{page_title}}</h2>
          <h3>Featured <a href="{{ featured_article.link }}">{{ featured_article.title }}</a>:{{ featured_article.description }}</h3>
          <ul>
            {% for article in technical_articles %}
              <li><a href='{{ article.link }}'>{{ article.title }}</a>:{{ article.description }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>

  <div class="side">
    <h2>Popular</h2>
    <ul>
      {% for article in popular_articles %}
        <li><a href='{{ article.link }}'>{{ article.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
