<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Maven+Pro|Roboto+Mono:300|Syncopate|Special+Elite" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
</head>
<body>
    <div class="header">
        <h1><a href='{{header_link}}'>Top 1% Developer</a></h1>
        <h2><a href='{{header_link}}'>be_in_the_know</a></h2>
    </div>
    <div class="navbar" id="myTopnav">
        {% for item in navbar_items %}
            <a href="{{ item.link }}">{{ item.title }}</a>
        {% endfor %}
    </div>
    {% block body %}
    {% endblock %}
    <div class="footer">
        <a href='http://eepurl.com/gwvyCT'>Subscribe</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='https://github.com/mikaeilorfanian/mikaeilorfanian.github.io'>GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='#'>About</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</body>
</html>