{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/blog.css">
<title>Top 1% Coder</title>
{% endblock %}
{% block body %}
<div class="row">
  <div class="main">
      <div class="card">
        <div class="container">
          <h2>Top 1% Code: Technical Articles</h2>
          <h3>Featured: <a href="{{ featured_article.link }}">{{ featured_article.title }}</a>:{{ featured_article.description }}</h3>
          <ul>
            {% for article in technical_articles %}
              <li><a href='{{ article.link }}'>{{ article.title }}</a>:{{ article.description }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
<!--
    <div class="card">
      <div class="container">
        <h2>Tope 1% Code: Technical Articles</h2>
        <h3>Latest: <a href="top-coder-technical/types-versus-classes.html">Types vs. Classes</a></h3>
        <ul>
          <li><a href='#'>Article 1</a></li>
          <li><a href='#'>Article 2</a></li>
          <li><a href='#'>Article 3</a></li>
          <li><a href='#'>Article 4</a></li>
        </ul>
      </div>
    </div>
    -->
  </div>

  <div class="side">
    <h2>Popular</h2>
    <ul>
      <li><a href='#'>Article 1</a></li>
      <li><a href='#'>Article 2</a></li>
      <li><a href='#'>Article 3</a></li>
      <li><a href='#'>Article 4</a></li>
    </ul>
  </div>

</div>
{% endblock %}
